@import "settings";
@import "normalize";
@import "foundation";

// hiding for development purposes:
#splash { display: none; }
#lobby  { display: none; }
//#room   { display: none; }

#splash {
  .subtitle {
    text-align: center;
    display: block;
    position: relative;
    font-size: 24px;
    margin: 20px;
  }
}

#lobby {
  .button {
    margin: 20px;
  }
}

#room {
  .leaderboard {
    width: 100%;
  }
  .chatLog {
    width: 100%;
    height: 200px;
    overflow: scroll;
    display: block;
  }
  #actor {
    text-align:center;
    padding: 10px 0;
    background: #ddd;
  }
}
