<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Harlequin</title>
  <link rel="stylesheet" href="assets/css/app.css" />
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Harlequin</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="large-12 columns">

      <div id="splash" class="text-center">
        <h1>Harlequin</h1>
        <span class="subtitle">Internet charades <br/>with internet friends</span>
        <a href="#" class="large button">Log in with Twitter</a>
      </div>

      <div id="lobby" class="text-center">
        <a href="#" class="large button">Create a new game</a>
          <h1>If you want to join a friend's current game, have them send you the link they're on.</h1>
          <h3>It'll look something like "http://foo.com/room/&lt;random&gt;"</h3>
      </div>

      <div id="room">
        <div class="large-4 columns">
          <table class="leaderboard">
            <tbody>
              <tr>
                <td>Neal</td>
                <td>53 pts</td>
              </tr>
              <tr>
                <td>Eddie</td>
                <td>42 pts</td>
              </tr>
              <tr>
                <td>theRealJamesGary</td>
                <td>40 pts</td>
              </tr>
              <tr>
                <td>Elmer</td>
                <td>13 pts</td>
              </tr>
              <tr>
                <td>Scott</td>
                <td>8 pts</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="large-8 columns">
          <div id="actor">
            <img src="http://placekitten.com/600/500"/>
          </div>
          <table class="chat">
            <tbody>
              <tr><td><b>Neal: </b>hey</td></tr>
              <tr><td><b>Eddie: </b>sup</td></tr>
              <tr><td><b>James: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut quam dui, ac accumsan leo. Suspendisse felis eros, consectetur vel elementum nec, tristique vitae augue. Etiam bibendum pulvinar enim, ac volutpat diam sagittis vitae. Morbi egestas nisl ac lacus aliquet viverra.  </td></tr>
              <tr><td><b>Elmer: </b>hey everybody</td></tr>
            </tbody>
          </table>
          <input type="text" placeholder="Chat and make guesses">
        </div>
      </div>

      <footer class="row">
        <div class="large-12 columns"><hr>
          <div class="row">
            <div class="large-6 columns">
              <p>Created at <a target="_blank" href="http://www.hollywoodhackday.com/">Hollywood Hack Day 2013</a></p>
            </div>

            <div class="large-6 small-12 columns">
                <ul class="inline-list right">
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Source code</a></li>
                  <li><a href="http://github.com/eddiezane/Harlequin">Legal Shit</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="/assets/js/vendor/custom.modernizr.js"></script>
  <script src="/assets/js/vendor/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
